<h2> From movies#home view </h2>
<% if current_user.theater_owner %>
    <ul>
        <li> <%= link_to "All movies", movies_path %> </li>
        <li> <%= link_to "Add a movie", new_movie_path %> </li>
        <li> link to tickets stats page? </li>
    </ul>
<% else %>
    <ul>
        <li> <%= link_to "Your movies", movies_path %> </li>
        <li> show all tickets you have for today or later - incl date, movie title (link to show movie) </li>
    </ul>
<% end %>