<h1> Welcome to Your Local Multiplex Theater </h1>
<h2>This is the application#home view </h2>
<p>
Dine & Recline
At our dine-in theatre, you’re invited to put your feet up in one of our special recliners 
complete with personal swiveling tables. We have the coziest, most luxurious seating with seat warmers. 
Experience the best in entertainment & comfort when you lean back, stretch out, 
and settle in for a great time at the movies! 
</p>
<p>
We serve up the very best in fresh ingredients and hand-crafted dishes. With Delivery to Seat, 
you can enjoy restaurant-quality cuisine right in the theatre. Our menus feature hand-crafted appetizers, 
entrées and desserts
</p>
<p>
<strong>Located at :</strong> 75-57 191st St, Fresh Meadows, NY 11366<br>
<strong>Phone number :</strong> 718-444-4444
</p>
<%= link_to "View Movies", movies_home_path %>